body {
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
}


.spots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 7%;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;

    & div {
        color: #071336;
        font-weight: 400;
        font-size: 18px;;

        & a {
            color: #071336;
        }

        & a:hover {
            color: #0836bf;
        }

        & .bolded-text {
            font-weight: 700;
        }
    }
}

.nav-hero {
    
    background: linear-gradient(293.78deg, #E0FAED 44.91%, #071336 142.12%);



    & .navbar{
        width: 100%;

        & .nav-item .nav-link{
            color: #071336 !important;
        }

        & .nav-item .nav-link:hover{
            color: #0059FF !important;
        }

        .dropdown-menu{
            left: unset !important;
            right: 0 !important;
            background: linear-gradient(157.7deg, #ffffff 0%, #ededed 100%);
            border-radius: 8px !important;
            box-shadow: 0 25px 40px rgba(0, 0, 0, 0.09);
            border: 2px solid #75FA9E !important;
            padding: 16px 16px 0 !important;
        }
    }

    & .nav{

        padding: 0 5%;
        position: fixed;
        margin-top: 49px;
        width: 100%;
        z-index: 999;
        background-color: transparent;
        transition: background-color 0.3s ease;

        &.scrolled{
            background: linear-gradient(293.78deg, #E0FAED 44.91%, #071336 142.12%);
        }
        
        & .applications-number{
            background: rgba(5, 18, 56, 0.29);
            border-radius: 9px;
            color: #071336;
            padding: 5px 8px;
            font-weight: 500;
            font-size: 24px;
        }

        & .applications-text{
            font-size: 12px;
            color: #071336;
        }

        & .waiting-btn{
            color: #ffffff;
            background-color: #EB3A7A;
            border: none;
            border-radius: 9px;
            padding: 10px 12px;
            font-weight: 500;
            text-wrap: nowrap;
        }

        & .waiting-btn:hover{
            background-color: #e6005e;
        }


    }

    & .hero{
        
        padding: 10% 0 7% 0;
        position: relative;

        & .hero-upper-section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 30px;
            color: #ffffff;

            & h1{
                font-size: 42px;
                color: #071336;
            }
            
            & p {
                color: rgba(5, 18, 56, 0.9);
                font-size: 18px;
            }

            & .waiting-btn{
                color: #ffffff;
                background-color: #EB3A7A;
                border: none;
                border-radius: 9px;
                padding: 10px 12px;
                font-weight: 500;
                text-wrap: nowrap;
                display: none;
            }

            & .waiting-btn:hover{
                background-color: #e6005e;
            }
        }

        & .hero-lower-section{

            margin-top: 5%;
            
        }

        & .hero-bottom-section{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            background-color: #071336;
            padding: 1.5% 0%;
            border-radius: 7px;
            width: 75%;

            & p {
                color: #E0FAED;
                font-size: 16px;
                margin: 0;
                text-wrap: nowrap;

                & span{
                    color: #ffffff;
                    font-weight: 700;
                    font-size: 18px;
                }
            }
        }


    }

    .hero #heroSliderContainer{
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    
    .hero #heroSlider{
        display: flex;
        width: max-content;
        flex-wrap: nowrap;
        transform: translateX(0);
        will-change: transform;
        height: 220px;
    }
    
    .hero #heroSlide {
        min-width: 200px;
        margin: 0 10px;
    }

    .hero .slide img {
        max-height: 100%;
        object-fit: cover;
    }
}

/* MAIN */

#navigation{
    display: flex;
    opacity: 0;
    background-color: #041C55;
    padding: 0 10%;
    height: 74px;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 112px;
    z-index: 800;

    & button{
        color: #ffffff;
        border: none;
        background-color: transparent;
        font-weight: 800;
        font-size: 16px;

        &:hover{
            color: #0059FF;
            transform: scale(1.1);
            transition: 0.3s ease-in-out;
        }
    }
}

#navigation.visible{
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#navigation.hidden {
    animation: fadeOut 0.2s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0); 
    }
    100% {
        opacity: 0;
        transform: translateY(-20px); 
    }
}

#experience{
    padding: 5% 11%;

    & .experience-title{
        color: #071336;
        font-weight: 700;
        font-size: 32px;
    }

    & .experience-description{
        color: #505050;
        font-size: 16px;
    }

    & .google-reviews{
        background-color: #E0FAED;
        color: #071336;
        border-radius: 9px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        & p{
            font-size: 32px;
            font-weight: 800;
            color: #071336;

            & span{
                font-size: 22px;
                color: rgba(5, 18, 56, 0.9);
            }
        }

       
    }


}

#techSchool{
    background-color: #E0FAED;
    padding: 5% 11%;

    & h3{
        color: #071336;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 5%;
    }

    & .card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 6% 4%;
        background-color: transparent;
        border: 1px solid #071336;
        border-radius: 9px;
        height: 300px;

        & img{
            width: 54px;
            height: 54px;
        }

        & p{
            color: #071336;
            font-size: 23px;
            font-weight: 800;
        }

        & span{
            color: #071336;
            font-weight: 600;
            font-size: 16px;
            margin-top: auto;
        }

    }
}

#meetTheInstructors{
    background-color: #ffffff;
    padding: 5% 11%;

    & .intro{
        & h2 {
            color: #071336;
            font-size: 32px;
            font-weight: 700;
        }

        & p{
            color: rgba(7, 19, 54, 0.78);
            font-size: 16px;
        }
    }

    & .instructor-rating{
        background-color: #E0FAED;
        border-radius: 9px;
        padding: 16px 24px;
        text-align: center;

        & p{
            color: #071336;
            font-size: 26px;
            font-weight: 800;
            margin: 0;
        }

        & span{
            color: #071336;
            font-weight: 18px;
        }
    }

    & .skills{
        span{
            background-color: #051238;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 600;
            border: none;
            border-radius: 21px;
            padding: 16px 26px;
        }
    }

    & .carousel-indicators-container{
        position: relative;

        & .carousel-indicators{
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: space-evenly;

            & img{
                /* width: 50px; */
                height: 43px;
                opacity: 1;
                background-color: transparent;
            }

            & img:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

    #instructorsCarousel .card{
        height: 100%;
        border: none;

        & img{
            position: relative;        
        }

        & .card-body{
            padding-left: 0;
            display: flex;
            flex-direction: column;
            

            & .card-title{
                color: #071336 !important;
                font-size: 18px;
                font-weight: 800;
                text-wrap: nowrap;
            }
    
            & .card-text{
                color: rgba(7, 19, 54, 0.81);
                font-size: 15px;
                text-wrap: nowrap;
            }

            & img {
                position: absolute;
                top: 24vh;
                left: 1vw;
                width: 37px;
                height: 37px;
                
            }

            & img:hover{
                cursor: pointer;
                transform: scale(1.1);
            }

            & p:last-of-type{
                margin-top: auto;
            }
        }
    }
}

#modules{
    padding: 5% 11%;

    & h2{
        color: #071336;
        font-size: 26px;
        font-weight: 700;
    }

    & #modulesCarousel{

        & .carousel-indicators{
            position: static;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0 auto 5% auto;
            width: 100%;
            border-bottom: 1px solid rgba(5, 18, 56, 0.11);
            padding-bottom: 33px;
            
            & [data-bs-target] {
                text-indent: 0 !important;
            }

           & span {
                display: inline-block;
                cursor: pointer;
                color: rgba(5, 18, 56, 0.90);
                font-size: 18px;
                font-weight: 700;
                text-wrap: nowrap;
                
            }

            & button{
                border: none;
                background: none;
                padding: 0;
                margin: 0 5px;
                opacity: 1;
                width: auto;
                height: auto;
            }

            & .active,
            & button:hover{
                background-color: #8CE5B8;
                padding: 8px 12px;
                border-radius: 90px;
            }
        }

        & .carousel-item{
            border-radius: 9px;
            background: #E0FAED;
            padding: 33px 35px;
            flex-shrink: 0;
            height: 200px;
        }
    }
    
    
}

#workWeek{
    padding: 5% 2%;

    & .col-md-2{
        padding: 0.3rem !important;
        width: 14.2%;
    }
    
    & h1{
        color: #071336;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
    }

    & h5 {
        background-color: #75FA9E;
        color:#071336;
        padding: 20px 0;
        border: none;
        border-radius: 9px;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10%;
    }

    & .class{
        border: 1px solid #0052B4;
        border-left: 5px solid #0052B4;
        border-radius: 12px;
        height: 280px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 20px 0 20px;
    }

    & .class .time{
        text-wrap: nowrap;
    }

    & .no-class{
        border: 1px solid #EB3A7A;
        border-left: 5px solid #EB3A7A;
        border-radius: 12px;
        height: 280px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 20px 0 20px;
    }

    & .free{
        border: 1px solid #75FA9E;
        border-left: 5px solid #75FA9E;
        border-radius: 12px;
        height: 280px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 20px 0 20px;
    }

    & span {
        color:#666666;
        font-size: 14px;
    }

    & h6 {
        color: rgba(5, 18, 56, 0.9);
        font-weight: 700;
        font-size: 20px;
    }

    & img {
        width: 25px;
        height: 25px;
    }
}

#diplomas{
    padding: 5% 11%;

    & h1{
        color: #071336;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
    }

    & .vstack{
        padding: 32px;
        border-radius: 16px;
        border: 1px solid rgba(5, 18, 56, 0.20);
        background: #FFF;
        height: 430px;
        color: #071336;

        & p{
            font-size: 24px;
            font-weight: 700;
        }

        & img{    
            height: 48px;
            width: 48px;
        }
    }
}

#programs{
    padding: 5% 15%;

    & h1{
        color: #071336;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 100px;
    }

    & .most-popular{
        position: absolute;
        top: -57px;
        right: 0;
        background-color: #3AAAEB;
        padding: 11px 0;
        text-align: center;
        width: 100%;
        border-radius: 8px 8px 0 0;
        color: #071336;
        font-size: 23px;
        font-weight: 900;
    }

    & .pricing-card{
        border: 1px solid #75FA9E;
        height: 1000px;
        position: relative;
        display: flex;
        flex-direction: column;

        & .pricing-top{
            background-color: #071336;
            padding: 21px 12px;
            height: 161px;
            color: #ffffff;
            text-align: center;

            & h3{
                font-size: 24px;
                font-weight: 700;
            }

            & p{
                font-size: 16px;
            }
        }

        & .pricing-top--eu {
            background-image: linear-gradient(0deg, rgba(5, 18, 56, 0.65), rgba(5, 18, 56, 0.65)), url(../images/eu-flag-pricing.webp);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        & .pricing-top--us{
            background-image:linear-gradient(0deg, rgba(5, 18, 56, 0.83), rgba(5, 18, 56, 0.83)), url(../images/us-flag-bg-pricing.webp);
            background-size: cover;
            background-position: center;
        }

        & .pricing-middle{
            background-color: #ffffff;
            padding: 5% 5% 10% 5%;
            display: flex;
            flex-direction: column;
            flex-grow: 1;


            & div {
                border-bottom: 2px solid #75FA9E;
                text-align: center;
                padding: 8px 0;

                & span{
                    color: #071336;
                    font-size: 16px;
                    font-weight: 400;
                }

                & .crossed{
                    color: #394DFF;
                    font-size: 24px;
                    font-weight: 700;
                    position: relative;
                }

                & .crossed::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: black;
                    transform-origin: 0 0;
                    transform: rotate(-20deg);
                }

                & .slash{
                    color: #666;
                    font-size: 16px;
                    font-weight: 700;
                }

                & .not-crossed{
                    color: #EB3A7A;
                    font-size: 24px;
                    font-weight: 700;
                }

                & .gray-text{
                    color: #666;
                    font-size: 18px !important;
                    font-weight: 600 !important;

                    & span{
                        color: #292929;
                        font-weight: 800;
                        font-style: italic;
                        font-size: 18px;
                    }
                }


            }

            & :nth-child(5){
               margin-top: auto;
            }

            & button{
                background-color: #75FA9E;
                border: none;
                border-radius: 10px;
                padding: 9px 23px;
                max-width: 75%;
                margin: 5% auto;
                color: #071336;
                font-size: 16px;
                font-weight: 700;

                &:hover{
                    background-color: #E0FAED;
                    transform: scale(1.1);
                    transition: 0.5s ease-in-out;
                }
            }

            & .former-student{
                color: #666;
                text-align: center;
                font-size: 13px;
            }
        }

        & .pricing-bottom{
            height: 185px;
            background-color: #071336;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 5%;


            & img{
                margin: -35px auto 0 auto;
            }

            & button{
                background-color: #E0FAED;
                color: #071336;
                text-decoration: underline;
                padding: 9px 0;
                width: 80%;
                border: none;
                border-radius: 10px;
                margin: 5% auto;
                font-weight: 700;

                &:hover{
                    background-color: #75FA9E;
                    transform: scale(1.1);
                    transition: 0.5s ease-in-out;
                }
            }

        }
        
    }
}

#newCareer{
    padding: 5% 11%;

    & .col-md-7,
    & .col-md-5{
        padding: 0 !important;
    }

    & .card{
        background-color: #75FA9E;
        border: none;
        border-radius: 15px;
        height: 354px;

        & .card-inner{
            padding: 3% 0%;
            text-align: center;
            color: #071336;
            display: flex;
            flex-direction: column;
            gap: 22px;

            & h2{
                font-size: 32px;
                font-weight: 800;
                margin: 0;
            }

            & .stroke{
                margin-left: -19%;
            }

            & p, span{
                font-weight: 500;
                font-size: 16px;
            }

            & button{
                border: none;
                border-radius: 9px;
                background-color: #EB3A7A;
                padding: 15px 20px;
                color: #ffffff;
                font-size: 20px;
                font-weight: 700;

                &:hover{
                    background-color: #0059FF;
                    transform: scale(1.1);
                    transition: 0.5s ease-in-out;
                }
            }
        }

        & .img-container{
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: visible;
            height: 100%;
            position: relative;

            & img{
                position: absolute;
                bottom: 0;
                left: -2%; 
            }
        }
    }
    
}

#realProjects{
    padding: 5% 11%;
    background-color: #E0FAED;

    & .projects{
        color: #071336;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: 3%;

        & h1{
            font-size: 32px;
            font-weight: 800;
        }

        & p{
            font-size: 16px;
            font-weight: 500;
            color: rgba(5, 18, 56, 0.9);
        }

        & span{
            background-color: rgba(5, 18, 56, 0.73);
            border-radius: 21px;
            padding: 10px 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            font-weight: 600;
        }
    }

    & .card{
        padding: 25px 12px;
        background-color: #75FA9E;
        border-radius: 10px;
        height: fit-content;

        & .card-description{
            color: #071336;
            font-size: 20px;
            font-weight: 800;
            margin-top: 3%;
        }
    }
}

#successStories{
    padding: 5% 11%;

    & .intro{
        & h1{
            color: #071336;
            font-size: 32px;
            font-weight: 700;
        }

        & p{
            font-size: 16px;
            color: #071336;
            font-weight: 500;
        }
    }

    & .carousel-indicators-container{
        position: relative;
        display: flex;
        justify-content:  center;
        align-items:center;

        & .carousel-indicators{
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: space-evenly;
            align-items:center;

            & img{
                /* width: 50px; */
                height: 43px;
                opacity: 1;
                background-color: transparent;
            }
            & img:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

    #successStoriesCarousel{
        & .card{
            padding: 32px 30px;
            border-radius: 9px;
            border-left: 6px solid #071336;
            background: rgba(5, 18, 56, 0.04);
            height: 100%;

            & .linkedin-logo{
                position: absolute;
                top: 4vh;
                right: 3vw;
            }

            & .linkedin-logo:hover{
                cursor: pointer;
                transform: scale(1.1);
            }

            & .vstack{

                & .person-name{
                    color: #071336;
                    font-size: 18px;
                    font-weight: 800;
                }

                & span{
                    color: #071336;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }
}

#studentStory{
    padding: 5% 0;

    & .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center;
        margin-bottom: 5%;

        & h1{
            color: #071336;
            font-size: 32px;
            font-weight: 500;

            & span{
                font-weight: 700;
            }
        }

        & p{
            color: rgba(5, 18, 56, 0.90);
            font-size: 16px;

            & span{
                font-weight: 800;
            }
        }
    }

    & .story{
        background-color: #E0FAED;
        height: 461px;
        display: flex;
        align-items: center;

        & .left-side{
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: 100%;
            align-items: start;
            justify-content: center;
            padding-left: 11%;

            & h2{
                color: #071336;
                font-size: 32px;
                font-weight: 800;

                & span{
                    color: #ffffff;
                    font-weight: 500;
                }
            }

            & hr{
                height: 4px !important;
                background: #071336;
                width: 50px;
                margin-left: 5px;
                opacity: 1;
            }

            & p{
               color: rgba(5, 18, 56, 0.8);
               font-size: 18px;
               font-weight: 500; 
            }
           
        }

        & .right-side{

            & .video-container{
              width: 326px;
              height: 578px;
              border-radius: 12px;
              position: relative;
              
              box-shadow: 0 0 0 2px #75FA9E;
              overflow: hidden;
             
              #video{
                  width: 100%;
                  height: 100%;
                }
              
              #playButton{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                color: rgba(255, 0, 0, 1);
                font-size: 48px;
              }
          
              #pauseButton{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                color: rgba(255, 0, 0, 1);
                font-size: 48px;
              }
          
              
            }
        }
    }
}

#hiringPartners{
    padding: 5% 0;
    overflow: hidden;

    & h1{
        color: #071336;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
    }
}

#hiringPartners .slider-container{
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hiringPartners .slider{
    display: flex;
    width: max-content;
    flex-wrap: nowrap;
    transform: translateX(0);
    will-change: transform;
}

#hiringPartners .slide {
    min-width: 200px;
    max-height: 111px;
    border: 1px solid rgba(5, 18, 56, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    margin: 5% 5%;
    background-color: #E0FAED;
    border-radius: 9px;
    padding: 2% 3%;

    & .left-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        height: 100%;
        color: #0059FF;

        & h2{
            font-size: 36px;
            font-weight: 800;
            color: #071336;
        }

        & p{
            font-size: 20px;
            font-weight: 500;
            color: #071336;
        }
    }

    & .right-side{
        background-color: #75FA9E;
        border-radius: 9px;
        padding: 3% 5%;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & .active{
            background-color: #ffffff;
            color: #474747;
            border-radius: 9px;
        }

        & input {
            visibility: hidden;
        }
        
        & .intro {
            text-align: center;

            & h3{
                font-size: 28px;
                font-weight: 800;
                color: #071336;
            }

            & p{
                color: rgba(5, 18, 56, 0.9);
                font-size: 18px;
                font-weight: 500; 
            }
        }

        & .calc-top{
            & p{
                font-size: 16px;
                font-weight: 700;
                color: rgba(5, 18, 56, 0.9);
            }

           & #chooseAcademy{
                background-color: #000000;
                border: 1px solid #E0FAED;
                border-radius: 9px;
                padding: 1% 5%;

                & .just-academy,
                & .eu-academy,
                & .us-academy{
                    height: 100%;
                    display: flex;
                }

                & label{
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    text-wrap: nowrap;
                    padding: 2% 5%;

                    & span{
                        font-size: 26px;
                        font-weight: 800;
                    }
                }

                & label:hover{
                    background-color: #ffffff;
                    color: #474747;
                    border-radius: 9px;
                }
            }
        }

        & .calc-middle{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & p{
                font-size: 16px;
                font-weight: 700;
                color: rgba(5, 18, 56, 0.9); 
            }

            & #installments{
                background-color: #000000;
                border: 1px solid #E0FAED;
                border-radius: 9px;
                padding: 1% 10% 1% 2%;;
                text-wrap: nowrap;
                display: flex;
                justify-content: space-between;

                & label{
                    font-size: 16px;
                    font-weight: 600;
                    padding:15%;
                    cursor: pointer;
                    text-wrap: nowrap;
                }

                & label:hover{
                    background-color: #ffffff;
                    color: #474747;
                    border-radius: 9px;
                }
            }

        }

        & .calc-bottom{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & p{
                font-size: 16px;
                font-weight: 700;  
                color: rgba(5, 18, 56, 0.9);
            }

           & #calculator-price-box{
                background-color: #F8F8F8;
                border: 2px solid rgba(117, 250, 158, 0.19);
                border-radius: 9px;
                color: #474747;
                font-size: 16px;
                font-weight: 900;
                padding: 1% 5%;

           }
        }
    }

}

#applicationProcess{
    padding: 5% 11%;

    & h1{
        color: #071336;
        font-size: 32px;
        font-weight: 700;
    }

    & span{
        border-radius: 9px;
        background-color:rgba(117, 250, 158, 0.19);
        color: #071336;
        font-size: 38px;
        font-weight: 700;
        padding: 1% 8%;
        margin-right: auto;
    }

    & p{
        color: rgba(7, 19, 54, 0.75);
        font-size: 16px;
        font-weight: 500; 
    }
}

#furtherGuidance{
    padding: 5% 11%;
    background-color: #E0FAED;

    & h1{
        color: #071336;
        font-size: 32px;
        font-weight: 700;
    }

    & p{
        color: #071336;
        font-size: 18px;
        font-weight: 500; 
    }

    & h4 {
        color: #071336;
        font-size: 22px;
        font-weight: 800;
        text-wrap: nowrap;
    }

    & span{
        color: #071336;
        font-size: 22px;
    }

    & button{
        border: none;
        border-radius: 9px;
        background-color: #EB3A7A;
        padding: 6% 6%;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        text-wrap: nowrap;

        &:hover{
            background-color: #85adf7;
            transform: scale(1.1);
            transition: 0.5s ease-in-out;
            color: #292929;
        }
    }

    
}

#faq{
    padding: 5% 11%;

    & h1{
        color: #071336;
        font-size: 40px;
        font-weight: 700;

        & span{
            color: #75FA9E;
        }
    }

    & .accordion{

        & .accordion-button::after {
            content: none;
        }

        & .accordion-button:focus,
        & .accordion-button:hover{
            background-color: #75FA9E;
            box-shadow: 0 0 0 2px rgba(7, 19, 54, 1);
        }

        & .accordion-item{
            border: none !important;
            border-bottom: 1px solid rgba(5, 18, 56, 0.12) !important;
            margin-top: 3%;

            & h2>button{
                color: rgba(7, 19, 54, 0.99) !important;
                font-size: 24px !important;
                font-weight: 600 !important;
                background-color: transparent ;
            }    
        }
        

        & p,
        & ul>li{
            color: rgba(7, 19, 54, 0.99);
            font-size: 20px;
        }
    }
}

/* FOOTER */

.footer {
    padding: 3% 5%;
    background-color: #071336;
}

footer a{
    text-decoration: none;
    color: #FFFFFF;
}

footer a:hover{
    color: #75FA9E;
}

footer a.active{
    color: #75FA9E;
    font-weight: 900;
}

footer h3{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

footer a p{
    font-size: 14px;
    font-weight: 800;
}

footer .careers-text{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

footer .careers-text span{
    font-weight: 700;
}

footer .social-media img:hover{
    transform: scale(1.3);
    transition: 0.3s ease-in-out;
}

footer .social-media-text{
    font-weight: 500;
    color:#8D93A5;
}

.subfooter{
    background-color: #071336;
    text-align: center;
    padding: 19px 0;
    color: #FFFFFF;
    border-top: 2px solid rgba(255, 255, 255, 1);
}

/* WAITING LIST FORM */

.btn-close{
    position: absolute;
    right: 10px;
    top: 10px;
}

@import url(https://fonts.bunny.net/css?family=ibm-plex-sans:400,600);

#_form_825_ {
    font-size: 14px;
    line-height: 1.6;
    font-family: arial, helvetica, sans-serif;
    margin: 0
}

#_form_825_ * {
    outline: 0
}

._form_hide {
    display: none;
    visibility: hidden
}

._form_show {
    display: block;
    visibility: visible
}

#_form_825_._form-top {
    top: 0
}

#_form_825_._form-bottom {
    bottom: 0
}

#_form_825_._form-left {
    left: 0
}

#_form_825_._form-right {
    right: 0
}

#_form_825_ input[type="text"],
#_form_825_ input[type="tel"],
#_form_825_ input[type="date"],
#_form_825_ textarea {
    padding: 6px;
    height: auto;
    border: #979797 1px solid;
    border-radius: 4px;
    color: #000000 !important;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#_form_825_ textarea {
    resize: none
}

#_form_825_ ._submit {
    -webkit-appearance: none;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    text-align: center;
    background: linear-gradient(293.78deg, #E0FAED 44.91%, #071336 142.12%) !important;
    border: 0 !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    color: #071336 !important;
    padding: 10px !important;
    font-weight: 700;
}

#_form_825_ ._submit:hover {
    background: linear-gradient(146.5deg, #E0FAED 44.91%, #071336 142.12%) !important;
    color: #071336 !important
}

#_form_825_ ._submit:disabled {
    cursor: not-allowed;
    opacity: 0.4
}

#_form_825_ ._submit.processing {
    position: relative
}

#_form_825_ ._submit.processing::before {
    content: "";
    width: 1em;
    height: 1em;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    border: double 3px transparent;
    border-radius: 50%;
    background-image: linear-gradient(#004CFF, #004CFF), conic-gradient(#004CFF, #FFFFFF);
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: 1200ms ease 0s infinite normal none running _spin
}

#_form_825_ ._submit.processing::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #004CFF !important;
    border: 0 !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    color: #FFFFFF !important;
    padding: 10px !important
}

@keyframes _spin {
    0% {
        transform: translate(-50%, -50%) rotate(90deg)
    }

    100% {
        transform: translate(-50%, -50%) rotate(450deg)
    }
}

#_form_825_ ._close-icon {
    cursor: pointer;
    background-image: url("https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png");
    background-repeat: no-repeat;
    background-size: 14.2px 14.2px;
    position: absolute;
    display: block;
    top: 11px;
    right: 9px;
    overflow: hidden;
    width: 16.2px;
    height: 16.2px
}

#_form_825_ ._close-icon:before {
    position: relative
}

#_form_825_ ._form-body {
    margin-bottom: 30px
}

#_form_825_ ._form-image-left {
    width: 150px;
    float: left
}

#_form_825_ ._form-content-right {
    margin-left: 164px
}

#_form_825_ ._form-branding {
    color: #fff;
    font-size: 10px;
    clear: both;
    text-align: left;
    margin-top: 30px;
    font-weight: 100
}

#_form_825_ ._form-branding ._logo {
    display: block;
    width: 130px;
    height: 14px;
    margin-top: 6px;
    background-image: url("https://d226aj4ao1t61q.cloudfront.net/hh9ujqgv5_aclogo_li.png");
    background-size: 130px auto;
    background-repeat: no-repeat
}

#_form_825_ .form-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

#_form_825_ ._form-label,
#_form_825_ ._form_element ._form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block
}

#_form_825_._dark ._form-branding {
    color: #333
}

#_form_825_._dark ._form-branding ._logo {
    background-image: url("https://d226aj4ao1t61q.cloudfront.net/jftq2c8s_aclogo_dk.png")
}

#_form_825_ ._form_element {
    position: relative;
    margin-bottom: 10px;
    font-size: 0;
    max-width: 100%
}

#_form_825_ ._form_element * {
    font-size: 14px
}

#_form_825_ ._form_element._clear {
    clear: both;
    width: 100%;
    float: none
}

#_form_825_ ._form_element._clear:after {
    clear: left
}

#_form_825_ ._form_element input[type="text"],
#_form_825_ ._form_element input[type="date"],
#_form_825_ ._form_element select,
#_form_825_ ._form_element textarea:not(.g-recaptcha-response) {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit
}

#_form_825_ ._field-wrapper {
    position: relative
}

#_form_825_ ._inline-style {
    float: left
}

#_form_825_ ._inline-style input[type="text"] {
    width: 150px
}

#_form_825_ ._inline-style:not(._clear)+._inline-style:not(._clear) {
    margin-left: 20px
}

#_form_825_ ._form_element img._form-image {
    max-width: 100%
}

#_form_825_ ._form_element ._form-fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0
}

#_form_825_ ._clear-element {
    clear: left
}

#_form_825_ ._full_width {
    width: 100%
}

#_form_825_ ._form_full_field {
    display: block;
    width: 100%;
    margin-bottom: 10px
}

#_form_825_ input[type="text"]._has_error,
#_form_825_ textarea._has_error {
    border: #F37C7B 1px solid
}

#_form_825_ input[type="checkbox"]._has_error {
    outline: #F37C7B 1px solid
}

#_form_825_ ._error {
    display: block;
    position: absolute;
    font-size: 14px;
    z-index: 10000001
}

#_form_825_ ._error._above {
    padding-bottom: 4px;
    bottom: 39px;
    right: 0
}

#_form_825_ ._error._below {
    padding-top: 8px;
    top: 100%;
    right: 0
}

#_form_825_ ._error._above ._error-arrow {
    bottom: -4px;
    right: 15px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #FFDDDD
}

#_form_825_ ._error._below ._error-arrow {
    top: 0;
    right: 15px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #FFDDDD
}

#_form_825_ ._error-inner {
    padding: 12px 12px 12px 36px;
    background-color: #FFDDDD;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM9 3V9H7V3H9ZM9 13V11H7V13H9Z' fill='%23CA0000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 12px center;
    font-size: 14px;
    font-family: arial, sans-serif;
    font-weight: 600;
    line-height: 16px;
    color: #000;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(31, 33, 41, 0.298295)
}

@media only screen and (max-width:319px) {
    #_form_825_ ._error-inner {
        padding: 7px 7px 7px 25px;
        font-size: 12px;
        line-height: 12px;
        background-position: 4px center;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

#_form_825_ ._error-inner._form_error {
    margin-bottom: 5px;
    text-align: left
}

#_form_825_ ._button-wrapper ._error-inner._form_error {
    position: static
}

#_form_825_ ._error-inner._no_arrow {
    margin-bottom: 10px
}

#_form_825_ ._error-arrow {
    position: absolute;
    width: 0;
    height: 0
}

#_form_825_ ._error-html {
    margin-bottom: 10px
}

.pika-single {
    z-index: 10000001 !important
}

#_form_825_ input[type="text"].datetime_date {
    width: 69%;
    display: inline
}

#_form_825_ select.datetime_time {
    width: 29%;
    display: inline;
    height: 32px
}

#_form_825_ input[type="date"].datetime_date {
    width: 69%;
    display: inline-flex
}

#_form_825_ input[type="time"].datetime_time {
    width: 29%;
    display: inline-flex
}

@media (min-width:320px) and (max-width:667px) {
    ::-webkit-scrollbar {
        display: none
    }

    #_form_825_ {
        margin: 0;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        box-sizing: border-box
    }

    #_form_825_ * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1em
    }

    #_form_825_ ._form-content {
        margin: 0;
        width: 100%
    }

    #_form_825_ ._form-inner {
        display: block;
        min-width: 100%
    }

    #_form_825_ ._form-title,
    #_form_825_ ._inline-style {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0
    }

    #_form_825_ ._form-title {
        font-size: 1.2em
    }

    #_form_825_ ._form_element {
        margin: 0 0 20px;
        padding: 0;
        width: 100%
    }

    #_form_825_ ._form-element,
    #_form_825_ ._inline-style,
    #_form_825_ input[type="text"],
    #_form_825_ label,
    #_form_825_ p,
    #_form_825_ textarea:not(.g-recaptcha-response) {
        float: none;
        display: block;
        width: 100%
    }

    #_form_825_ ._row._checkbox-radio label {
        display: inline
    }

    #_form_825_ ._row,
    #_form_825_ p,
    #_form_825_ label {
        margin-bottom: 0.7em;
        width: 100%
    }

    #_form_825_ ._row input[type="checkbox"],
    #_form_825_ ._row input[type="radio"] {
        margin: 0 !important;
        vertical-align: middle !important
    }

    #_form_825_ ._row input[type="checkbox"]+span label {
        display: inline
    }

    #_form_825_ ._row span label {
        margin: 0 !important;
        width: initial !important;
        vertical-align: middle !important
    }

    #_form_825_ ._form-image {
        max-width: 100%;
        height: auto !important
    }

    #_form_825_ input[type="text"] {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        line-height: 1.3em;
        -webkit-appearance: none
    }

    #_form_825_ input[type="radio"],
    #_form_825_ input[type="checkbox"] {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        font-size: 1em;
        margin: 0 0.3em 0 0;
        vertical-align: baseline
    }

    #_form_825_ button[type="submit"] {
        padding: 20px;
        font-size: 1.5em
    }

    #_form_825_ ._inline-style {
        margin: 20px 0 0 !important
    }
}

#_form_825_ .sms_consent_checkbox {
    overflow: auto
}

#_form_825_ .sms_consent_checkbox input[type="checkbox"] {
    float: left;
    margin: 5px 10px 10px 0
}

#_form_825_ .sms_consent_checkbox .sms_consent_message {
    display: inline;
    width: 95%;
    float: left;
    text-align: left;
    margin-bottom: 10px
}

#_form_825_ .sms_consent_checkbox .sms_consent_message.sms_consent_mini {
    width: 90%
}

#_form_825_ {
    position: relative;
    text-align: left;
    margin: 25px auto 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFFFFF !important;
    border: 0px solid #B0B0B0 !important;
    max-width: 500px;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    color: #000000
}

#_form_825_._inline-form,
#_form_825_._inline-form ._form-content {
    font-family: "IBM Plex Sans", Helvetica, sans-serif
}

#_form_825_._inline-form ._row span,
#_form_825_._inline-form ._row label {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em
}

#_form_825__inlineform input[type="text"],
#_form_825__inlineform input[type="date"],
#_form_825__inlineform input[type="tel"],
#_form_825__inlineform select,
#_form_825__inlineform textarea:not(.g-recaptcha-response) {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-color: #000000;
    line-height: 1.6em
}

#_form_825_._inline-form ._html-code *:not(h1, h2, h3, h4, h5, h6),
#_form_825_._inline-form ._form-thank-you {
    font-family: "IBM Plex Sans", Helvetica, sans-serif
}

#_form_825_._inline-form ._form-label,
#_form_825_._inline-form ._form-emailidentifier,
#_form_825_._inline-form ._form-checkbox-option-label {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6em
}

#_form_825_._inline-form ._submit {
    margin-top: 12px;
    font-family: "IBM Plex Sans", Helvetica, sans-serif
}

#_form_825_._inline-form ._html-code h1,
#_form_825_._inline-form ._html-code h2,
#_form_825_._inline-form ._html-code h3,
#_form_825_._inline-form ._html-code h4,
#_form_825_._inline-form ._html-code h5,
#_form_825_._inline-form ._html-code h6,
#_form_825_._inline-form ._form-title {
    font-size: 22px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 0;
    color: #071336;

}

#_form_825_._inline-form ._form-branding {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 100;
    font-style: normal;
    text-decoration: none
}

#_form_825_:before,
#_form_825_:after {
    content: " ";
    display: table
}

#_form_825_:after {
    clear: both
}

#_form_825_._inline-style {
    width: auto;
    display: inline-block
}

#_form_825_._inline-style input[type="text"],
#_form_825_._inline-style input[type="date"] {
    padding: 10px 12px
}

#_form_825_._inline-style button._inline-style {
    position: relative;
    top: 27px
}

#_form_825_._inline-style p {
    margin: 0
}

#_form_825_._inline-style ._button-wrapper {
    position: relative;
    margin: 16px 12.5px 0 20px
}

#_form_825_ ._form-thank-you {
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px
}

#_form_825_ ._form-pc-confirmation ._submit {
    margin-top: 16px
}

@media (min-width:320px) and (max-width:667px) {
    #_form_825_._inline-form._inline-style ._inline-style._button-wrapper {
        margin-top: 20px !important;
        margin-left: 0 !important
    }
}

#_form_825_ .iti.iti--allow-dropdown.iti--separate-dial-code {
    width: 100%
}

#_form_825_ .iti input {
    width: 100%;
    height: 32px;
    border: #979797 1px solid;
    border-radius: 4px
}

#_form_825_ .iti--separate-dial-code .iti__selected-flag {
    background-color: #FFFFFF;
    border-radius: 4px
}

#_form_825_ .iti--separate-dial-code .iti__selected-flag:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

#_form_825_ .iti__country-list {
    border-radius: 4px;
    margin-top: 4px;
    min-width: 460px
}

#_form_825_ .iti__country-list--dropup {
    margin-bottom: 4px
}

#_form_825_ .phone-error-hidden {
    display: none
}

#_form_825_ .phone-error {
    color: #E40E49
}

#_form_825_ .phone-input-error {
    border: 1px solid #E40E49 !important
}

#_form_825_._inline-form ._form-content ._form-list-subscriptions-field fieldset {
    margin: 0;
    margin-bottom: 1.1428571429em;
    border: none;
    padding: 0
}

#_form_825_._inline-form ._form-content ._form-list-subscriptions-field fieldset:last-child {
    margin-bottom: 0
}

#_form_825_._inline-form ._form-content ._form-list-subscriptions-field legend {
    margin-bottom: 1.1428571429em
}

#_form_825_._inline-form ._form-content ._form-list-subscriptions-field label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0.8571428571em
}

#_form_825_._inline-form ._form-content ._form-list-subscriptions-field label:last-child {
    margin-bottom: 0
}

#_form_825_._inline-form ._form-content ._form-list-subscriptions-field input {
    margin: 0;
    margin-right: 8px
}

#_form_825_._inline-form ._form-content ._form-list-subscriptions-field ._form-checkbox-option-label {
    display: block;
    font-weight: 400;
    margin-top: -4px
}

#_form_825_._inline-form ._form-content ._form-list-subscriptions-field ._form-checkbox-option-label-with-description {
    display: block;
    font-weight: 700;
    margin-top: -4px
}

#_form_825_._inline-form ._form-content ._form-list-subscriptions-field ._form-checkbox-option-description {
    margin: 0;
    font-size: 0.8571428571em
}

#_form_825_._inline-form ._form-content ._form-list-subscriptions-field ._form-subscriptions-unsubscribe-all-description {
    line-height: normal;
    margin-top: -2px
}



